body {
	background-color: rgb(35, 231, 13);
}

h1 {
	margin: 0;
	margin-bottom: 10px;
}

.mainSection {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-self: center;
	align-items: center;
}
